.wrapper {
  width: 550px;
  height: 500px;
  margin-top: 28vh;
  margin-right: 100px;
  text-align: center;
}
.wrapper #enterurl {
  font-size: 20px;
  color: white;
}
.wrapper input {
  background-color: white;
  width: 100%;
  padding: 20px 15px;
  cursor: pointer;
  border-radius: 25px;
  border: 3px solid #ff4d5a;
  font-size: 16px;
}
.wrapper #terms {
  color: white;
  font-size: 10px;
  margin: 8px 0px 0px 10px;
}
.wrapper a {
  color: #ff4d5a;
}
.wrapper button {
  color: white;
  background-color: #ff4d5a;
  padding: 11.5px 24px 11.5px 20px;
  cursor: pointer;
  border-radius: 18px;
  font-size: 18px;
  margin-top: 10px;
  transition: margin-top 0.3s linear;
}
.wrapper button:hover {
  margin-top: 5px;
}
.wrapper p {
  text-align: left;
}
.instruction {
  width: 600px;
  height: 800px;
  margin-top: 19.5vh;
  margin-right: 100px;
  color: white;
  font-weight: 300;
  text-align: center;
}
.slide-to-read {
  height: 50px;
  margin-bottom: 20px;
  font-size: 32px;
  font-weight: 500;
  /* background: linear-gradient(45deg, white, #2ecc71);
  background-size: 95% 3px;
  background-repeat: no-repeat;
  background-position: bottom center; */
}

.instruction .glitch {
  margin: 20px 0 10px;
  font-size: 2rem;
  font-weight: 500;
  animation: glitch 3s linear infinite;
}
.underbar_i {
  width: 100%;
  max-height: 18px;
}
.underbar_instruction1,
.underbar_instruction2 {
  content: '';
  position: relative;
  width: 50%;
  height: 2px;
  display: inline-block;
  background: #2ecc71;
  border-radius: 2px;
  top: -20px;
}
.underbar_instruction1 {
  left: -100px;
}
.underbar_instruction2 {
  right: -100px;
}
.mySlides {
  display: none;
}
img {
  vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
.instruction #video {
  width: 100%;
  max-width: 475px;
  margin: 0 auto;
  border: solid 3px #104225;
  border-radius: 5px;
}
.instruction #video_text {
  width: 100%;
  max-width: 500px;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev {
  left: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: Verdana, sans-serif;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 4px;
  margin: 0px 30px;
  background-color: white;
  border-radius: 2px;
  display: inline-block;
}

.active {
  height: 20px;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
.slideshow-container .steps {
  text-align: left;
  margin-left: 50px;
  font-size: 23px;
  margin-top: 3%;
  font-family: futura-pt, sans-serif;
  line-height: 32px;
}
/* .slideshow-container .steps span::after {
  content: "Youtube/Facebook";
} */
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */

@media screen and (max-width: 1710px) {
  .wrapper {
    width: 500px;
  }
  .wrapper input {
    padding: 15px 10px;
  }
  .slideshow-container .steps {
    margin-left: 45px;
    font-size: 20px;
  }
  .slideshow-container {
    max-width: 450px;
  }
  .instruction .glitch {
    margin: 10px 0 5px;
  }
  .instruction #video,
  .instruction #video_text {
    max-width: 450px;
  }
}
@media screen and (max-width: 1536px) {
  .wrapper {
    width: 475px;
  }
  .wrapper button {
    padding: 9px 23px 9px 19px;
    font-size: 16px;
  }
  .wrapper {
    margin-top: 25vh;
    margin-right: 50px;
  }
  .wrapper #enterurl {
    font-size: 18px;
  }
  .instruction {
    width: 500px;
    margin-top: 16vh;
  }
  .slideshow-container .steps {
    margin-left: 35px;
    font-size: 18px;
    line-height: 27px;
  }
  .slideshow-container {
    max-width: 400px;
  }

  .instruction #video_text {
    max-width: 400px;
  }
  .instruction #video {
    max-width: 375px;
  }
  .underbar_instruction1 {
    left: -90px;
  }
  .underbar_instruction2 {
    right: -90px;
  }
  #fp-nav {
    top: 40%;
  }
}

@media screen and (max-width: 1300px) {
  .main__name {
    font-size: 75px;
    line-height: 65px;
    margin-bottom: 0px;
  }
  .wrapper {
    width: 500px;
    text-align: center;
    margin: 0 0 0 9.9%;
  }
  .wrapper input {
    padding: 15px 10px;
  }
  .main__wrapper {
    position: absolute;
    top: 2vh;
    width: 100vw;
    height: 60vh;
    display: unset;
  }
  .main__box {
    top: unset;
    margin: 5vh 0 37.5px 10%;
  }
  .slideshow-container .steps {
    margin: 0 0 0 25px;
  }
}
@media screen and (max-width: 700px) {
  header {
    height: 50px;
    margin: 1.5vh 0 5vh;
  }
  .main__name {
    font-size: 65px;
    line-height: 58px;
    letter-spacing: 3px;
  }
  .main__underBar::before,
  .main__underBar2::before,
  .main__underBar3::before {
    width: 75px;
    top: 14px;
  }
  .main__underBar::after,
  .main__underBar2::after,
  .main__underBar3::after {
    width: 75px;
    top: 24px;
    left: 50px;
  }
  .main__info {
    display: none;
  }
  .wrapper {
    width: 80%;
    height: unset;
  }
  .wrapper input {
    padding: 15px 10px;
    border-radius: 15px;
  }
  .wrapper button {
    padding: 10px 14px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 10px;
  }
  .wrapper #enterurl {
    display: none;
  }
  #fp-nav ul li a,
  .fp-slidesNav ul li a {
    text-decoration: none;
    margin-top: 14px;
  }
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    width: 40px;
    height: 4px;
  }
  #fp-nav ul li a.active span,
  .fp-slidesNav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li:hover a.active span {
    height: 4px;
    width: 70px;
  }
  #fp-nav {
    top: unset;
    bottom: 2%;
  }
  .header__name {
    font-size: 18px;
  }
  .header__icon {
    font-size: 16px;
    margin-right: 5px;
  }
  .instruction li {
    font-size: 25px;
  }
  .instruction {
    position: absolute;
    /*width: 375px;*/
    margin-top: 10vh;
    width: 80%;
    left: 10%;
  }
  .instruction #video {
    max-width: 325px;
  }
  .slideshow-container {
    max-height: 250px;
  }
  .slide-to-read {
    font-size: 24px;
    height: 40px;
    margin-bottom: 20px;
  }
  .slideshow-container .steps {
    font-size: 16px;
    line-height: 24px;
    margin-right: 10px;
  }
  .slideshow-container .steps span {
    display: none;
  }
  .instruction .glitch {
    display: none;
  }
  .dot {
    margin: 5px 20px 0;
  }
  .underbar_instruction1,
  .underbar_instruction2 {
    width: 60%;
  }
  .underbar_instruction1 {
    left: -75px;
  }
  .underbar_instruction2 {
    right: -75px;
  }
}
@media screen and (max-width: 455px) {
  .instruction li {
    font-size: 22px;
  }
  .main__name {
    font-size: 45px;
    line-height: 45px;
  }
  .main__underBar::before,
  .main__underBar2::before,
  .main__underBar3::before {
    width: 60px;
  }
  .main__underBar::after,
  .main__underBar2::after,
  .main__underBar3::after {
    width: 60px;
    left: 35px;
  }
  .header__icon {
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 34px;
  }
  #fp-nav {
    bottom: 3%;
  }
  .header__logo a {
    font-size: 18px;
    position: absolute;
    left: 20px;
    top: 28px;
  }
  .wrapper button {
    margin-top: 8px;
  }
  .wrapper input {
    padding: 12.5px 10px;
  }
  .underbar_instruction1 {
    left: -60px;
  }
  .underbar_instruction2 {
    right: -60px;
  }
}
@media only screen and (max-width: 300px) {
  .prev,
  .next,
  .text {
    font-size: 11px;
  }
}
::selection {
  color: white;
  background: #3b3b98;
}
.header__icon:hover,
.header__name:hover {
  opacity: 0.75;
}
@keyframes glitch {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.75;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0.75;
  }
  90% {
    opacity: 0.5;
  }
  100% {
    opacity: 0;
  }
}
