.wrapper {
  width: 500px;
  height: 500px;
  margin-top: 16%;
  margin-right: 100px;
  text-align: center;
}
.wrapper #enterurl {
  font-size: 20px;
  color: white;
  margin-bottom: 8px;
}
.wrapper input {
  background-color: white;
  width: 100%;
  padding: 20px 10px;
  cursor: pointer;
  border-radius: 15px;
  border: 3px solid #ff4d5a;
  font-size: 16px;
}
.wrapper #terms {
  color: white;
  font-size: 10px;
  margin: 8px 0px 8px 10px;
}
.wrapper a {
  color: #ff4d5a;
}
.wrapper button {
  color: white;
  background-color: #ff4d5a;
  padding: 12px 24px 12px 23px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
  margin-top: 10px;
  transition: margin-top 0.3s linear;
}
.wrapper button:hover {
  margin-top: 5px;
}
.wrapper p {
  text-align: left;
}
.instruction {
  width: 600px;
  height: 800px;
  margin-top: 15%;
  margin-right: 100px;
  color: white;

  font-weight: 300;
  text-align: left;
}
.instruction #pp {
  font-size: 40px;
  margin-bottom: 30px;
  background: linear-gradient(90deg, #ff4d5a, #1877f2);
  background-size: 70% 3px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.instruction li {
  font-size: 30px;
  margin-left: 20px;
  opacity: 0.95;
  transition: margin-left 0.5s;
}
.instruction li:hover {
  margin-left: 40px;
}
.instruction #enjoy {
  font-size: 25px;
  margin-top: 10px;
  animation: enjoy 5s infinite;
  margin-left: 30%;
}
.instruction #cre {
  font-size: 8px;
  text-align: right;
  margin-top: 10px;
  margin-right: 150px;
}
@keyframes enjoy {
  0% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@media screen and (max-width: 1300px) {
  .main__name {
    font-size: 75px;
    line-height: 65px;
    margin-bottom: 0px;
  }
  .wrapper {
    position: absolute;
    width: 500px;
    height: 80vh;
    text-align: center;
    margin-top: 30%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .wrapper input {
    padding: 15px 10px;
  }
}
@media screen and (max-width: 700px) {
  .header {
    top: 100%;
  }
  .main__wrapper {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100%;
  }
  .main__box {
    position: relative;
    top: 2%;
  }
  .main__name {
    font-size: 65px;
    line-height: 60px;
  }
  .main__underBar::before,
  .main__underBar2::before,
  .main__underBar3::before {
    width: 75px;
    top: 20px;
  }
  .main__underBar::after,
  .main__underBar2::after,
  .main__underBar3::after {
    width: 75px;
    top: 30px;
    left: 50px;
  }
  .main__info {
    display: none;
  }
  .wrapper {
    margin: unset;
    position: absolute;
    width: 80%;
    text-align: center;
    top: 72.5%;
    left: 50%;
  }
  .wrapper input {
    padding: 15px 10px;
  }
  .wrapper button {
    padding: 10px 14px;
    font-size: 16px;
    margin-top: 5px;
  }
  .wrapper #enterurl {
    font-size: 16px;
  }
  #fp-nav ul li a,
  .fp-slidesNav ul li a {
    text-decoration: none;
    margin-top: 18px;
  }
  #fp-nav ul li a span,
  .fp-slidesNav ul li a span {
    width: 40px;
    height: 4px;
  }
  #fp-nav ul li a.active span,
  .fp-slidesNav ul li a.active span,
  #fp-nav ul li:hover a.active span,
  .fp-slidesNav ul li:hover a.active span {
    height: 4px;
    width: 70px;
  }
  #fp-nav {
    top: unset;
    bottom: 5%;
  }
  .header__name {
    font-size: 20px;
  }
  .header__icon {
    font-size: 16px;
    margin-right: 5px;
  }
  .instruction li {
    font-size: 25px;
  }
  .instruction {
    position: absolute;
    width: 375px;
    text-align: left;
    top: 35%;
    left: 10%;
    margin: unset;
  }
  .instruction #pp {
    font-size: 30px;
  }
  .instruction #cre {
    margin-right: 100px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    top: 80%;
  }
}
@media screen and (max-width: 550px) {
  .wrapper {
    top: 79%;
  }
}
@media screen and (max-width: 500px) {
  .wrapper {
    top: 78%;
  }
}
@media screen and (max-width: 455px) {
  .instruction li {
    font-size: 22px;
  }
  .main__name {
    font-size: 45px;
    line-height: 45px;
  }
  .main__underBar::before,
  .main__underBar2::before,
  .main__underBar3::before {
    width: 60px;
  }
  .main__underBar::after,
  .main__underBar2::after,
  .main__underBar3::after {
    width: 60px;
    left: 35px;
  }
  .header__icon {
    font-size: 14px;
    position: absolute;
    right: 5px;
    top: 36px;
  }
  #fp-nav {
    bottom: 3%;
  }
  .header__logo a {
    font-size: 20px;
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .wrapper {
    margin: unset;
    top: 71%;
  }
}
