.downloader input {
  background: #c3ddff;
  border: 3px solid #1877f2;
}
.downloader button {
  background-color: #1877f2;
}

@media screen and (max-width: 600px) {
  main .instruction {
    background: #c3ddff;
    border: 2px solid #1877f2;
  }
}
