.downloader input {
  background: rgb(255, 216, 216);
  border: 3px solid red;
}
.downloader button {
  background-color: red;
}
main .instruction {
  background: rgb(255, 216, 216);
  border: 2px solid red;
}
@media screen and (max-width: 600px) {
  main .instruction {
    margin-top: 50px;
  }
}
