<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Facebook Downloader</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'multi.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'fbDl.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2e9b68f2ef.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
      <header>
          <div class="webName">
               <p class="webname2">
          <i style="color: #1877f2; font-size: 25px">FB</i> Downloader
        </p>
          </div>
      </header>
      <main>

          <div class="downloader">
                <h1 class="type2">
          <span style="color: #1877f2">F</span>ace<span style="color: #1877f2"
            >B</span
          >ook Downloader
        </h1>
        
          <div class="image">
              <!--Youtube logo-->
          <form action="/" method="get">
          <button type="submit"><img
            id="img_3"
            src="{{ url_for('static', filename = 'images/OIP.jfif') }}"
            alt=""
          />
          </button></form>

          <!--Facebook logo-->
          <img
            id="img_2"
            src="{{ url_for('static', filename = 'images/R.png') }}"
            alt=""
          />
      
        
        
        </div>
         <div class="container">
          <form action="/download" method="post">
            <div>
              <input
                id="input1"
                type="text"
                placeholder="Dán link video cần tải vào đây..."
                name="url1"
              />
            </div>
            <p style="font-size: 8px; text-align: center; margin-bottom: 8px;">Bằng cách nhấn nút "tải xuống", bạn đồng ý với <a href="/terms-conditions">Điều khoản sử dụng</a><div class=""></div></p>
            <div>
              <button id="button1" type="submit">
                <i class="fas fa-download"></i> Tải xuống
              </button>
            </div>
          </form>
        </div>
      </div>
          </div>
        <div class="instruction">
          <h3>Hướng dẫn các bước tải video:</h3>
          <ul>
            <li id="line1"> <i class="far fa-copy"></i> Copy đường link của video bạn muốn tải.</li>
            <li id="line2"> <i class="fas fa-search"></i>Truy cập vào NênĐặtTênWebLàChiHèo.com và chọn nền tảng phù hợp.</li>
            <li id="line3"> <i class="fas fa-paste"></i>Dán đường link vào ô trên.</li>
            <li id="line4"> <i class="far fa-check-square"></i> Hãy đảm bảo rằng bạn đã đọc kĩ và chấp nhận "<a href="/terms-conditions">Điều khoản sử dụng</a>" rồi nhấn nút "tải xuống".</li>
          </ul>
          <p style="text-align: center; font-size: 7px;">@By phi_hung</p>
        </div>
      </main>
       <script src="{{ url_for('static', filename = 'Dl.js') }}"></script>
  </body>
</html>
