<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Youtube Downloader</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'multi.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename = 'ytDl.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://kit.fontawesome.com/2e9b68f2ef.js"
      crossorigin="anonymous"
    ></script>
    </style>
    {% block head %}
    {% endblock %}
  </head>
  <body>
      <header>
          <div class="webName">
            <p class="webname3">
          <i style="color: red; font-size: 25px">YT</i> Downloader
        </p>
          </div>
      </header>
      <main>

          <div class="downloader">
              <h1 class="type3">
          <span style="color: red">Y</span>ou<span style="color: red">T</span
          >ube Downloader
        </h1>
          <!--Youtube logo-->
          <div class="image">     
            <img 
            id="img_3"
            src="{{ url_for('static', filename = 'images/OIP.jfif') }}"
            alt=""
          />

          <!--Facebook logo-->
          <form action="/fb">
          <button type="submit">
          <img 
            id="img_2"
            src="{{ url_for('static', filename = 'images/R.png') }}"
            alt=""
          /></div>
        </button>
      </form>
     
         <div class="container">
          <form class="" action="/" method="post">
            <div>
                <input id="input1" type="text" name="url" class="input1" placeholder="Dán link cần tải vào đây...">
            </div>
        </div>
         <p style="font-size: 8px; text-align: center; margin-bottom: 8px;
         ">Bằng cách nhấn nút "tải xuống", bạn đồng ý với <a href="/terms-conditions">Điều khoản sử dụng</a>.</p>
        <div class="row">
            <div >
                        <form method ="post" action="/">
  <button id="button1" type="submit" name="submit_video" value="submit_video">
                    <i class="fas fa-download"></i>Tải Xuống
  </button>
        </div>
      </div>
          </div>
              <div class="container">
        {% block body %}
        {% endblock %}
    </div>
       <div class="instruction">
          <h3>Hướng dẫn các bước tải video:</h3>
          <ul>
            <li id="line1"> <i class="far fa-copy"></i> Copy đường link của video bạn muốn tải.</li>
            <li id="line2"> <i class="fas fa-search"></i>Truy cập vào taivideo.com và chọn nền tảng phù hợp.</li>
            <li id="line3"> <i class="fas fa-paste"></i>Dán đường link vào ô trên.</li>
            <li id="line4"> <i class="far fa-check-square"></i> Chọn "đồng ý với điều khoản sử dụng của chúng tôi" và nhấn nút "tải xuống".</li>
          </ul>
        </div>

      </main>
       <script src="{{ url_for('static', filename = 'Dl.js') }}"></script>
  </body>
</html>